/* Write your CSS code here */
.blog-bg {
  display: flex;
  flex-direction: column;

  padding: 30px;
}
.title-img {
  width: 100%;
  object-fit: cover;
  height: 500px;
  border-radius: 8px;
}
.blogAvatar-con {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
